:root {
    --noir: #2C342C;
    --blanc: #F8F8F8;
    --vert: #1FB61F;
}

body {
    font-family: 'Inter', sans-serif;
    padding: 0 8vw;
    background: var(--blanc);
    color: var(--noir);
    overflow-x: hidden;
}

a{
    cursor: pointer;
}

.sousTitre{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--noir);
}

.sousTitre p{
    font-size: 52px;
    font-weight: 400;
    line-height: 0.8;
    letter-spacing: -3px;
}

.sousTitreG{
    font-size: 64px;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -4px;
    text-transform: uppercase;
}

.sousTitreD{
    font-size: 64px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -3px;
}


/* ---- Section accueil ---- */

.accueil{
    height: 80vh;
    display: flex;
    flex-direction: column;
    padding: 10vh 0;
    justify-content: space-between;
    align-items: center;
}

.titre{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 8vh;
}

.h1metier {
    line-height: 0.9;
    font-size: 120px;
    font-weight: 100;
}

.h1portfolio{
    line-height: 0.9;
    font-size: 100px;
    font-weight: 700;
}

.titreNom{
    display: flex;
    padding: 24px 32px;
    justify-content: center;
    align-items: center;
    background: var(--vert);
}

.h1nom{
    color: var(--blanc);
    font-size: 52px;
    font-style: italic;
    font-weight: 400;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
    width: 82vw;
}

.btnLinkedin{
    display: flex;
    width: 350px;
    padding: 24px 48px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--noir);
    background-color: var(--blanc);
}

.btnLinkedin p{
    font-size: 32px;
    font-weight: 400;
}


/* ---- Section sommaire ---- */

.sectionSommaire{
    height: 90vh;
    padding: 5vh 0;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.flexLigne{
    display: flex;
    justify-content: end;
    gap: 10vw;
}

.photoLine{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
}

.photoLine img{
    height: 55vh;
}

.photoWeb{
    font-size: 40px;
    font-weight: 300;
    text-transform: uppercase;
}

.photoDesign{
    color: var(--vert);
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.photoLine p{
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
}

.sommaire{
    display: flex;
    width: 585px;
    flex-direction: column;
    gap: 40px;
}

.sommaire p{
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
}

.contenuSommaire{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.separateur {
    border: none;
    height: 2px;
    background-color: var(--noir);
    width: 100%;
}

.lien {
    display: flex;
    width: 100%;
    height: 7vh;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.lien p {
    font-size: 32px;
    font-weight: 400;
    position: relative;
    z-index: 2;
    transition: color 0.6s ease;
}

.lien::before {
    content: "";
    position: absolute;
    width: 0; /* Départ de l'animation : largeur 0 */
    height: 100%;
    background-color: var(--noir);
    z-index: 1;
    transition: width 0.6s ease;
}

.lien:hover::before {
    width: 65%;
}

.lien:hover p {
    color: var(--blanc);
}


/* ---- Section frise chronologique ---- */

#sectionEtudes{
    height: 80vh;
    padding: 5vh 0;
}

.frise{
    display: flex;
    flex-direction: column;
    gap: 3vh;
    margin-top: 10vh;
}

.friseMobile{
    display: none;
}

.colonnesEtude{
    display: flex;
    gap: 4vw;
}

.colonneEtude{
    display: flex;
    flex-direction: column;
    gap: 4vh;
    min-width: 22vw;
}

.titreColonne{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    height: 15vh;
    max-width: 30vw;
}

.titreColonne p{
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -0.35px;
}

.anneeColonne{
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.24px;
}

.customListe li {
    display: flex;
    align-items: center;
    gap: 2vw;
    font-size: 24px;
    font-weight: 400;
    position: relative;
    margin-bottom: 4vh;
}

.customListe li:last-child {
    margin-bottom: 0;
}

.customListe li::before {
    content: url("/image/decoListe.svg");
    display: block;
}


/* ---- Section Soft Skills ---- */

.skills{
    display: flex;
    flex-direction: column;
    gap: 5vh;
    margin-bottom: 10vh;
}

.marginBottom{
    margin-bottom: 15vh;
}

.petit{
    font-size: 48px;
}

.qualites{
    display: flex;
    align-items: center;
    align-content: center;
    gap: 3vw;
    flex-wrap: wrap;
}

.qualite{
    display: flex;
    width: fit-content;
    height: 5vh;
    padding: 13px 32px;
    align-items: center;
    gap: 18px;
    border-radius: 21px;
}

.qualite p{
    font-size: 24px;
    font-weight: 500;
}

.contourNoir{
    border: 3px solid var(--noir);
}

.contourVert{
    border: 3px solid var(--vert);
    color: var(--vert);
}

.fondVert{
    background-color: var(--vert);
    color: var(--blanc);
}

.fondNoir{
    background-color: var(--noir);
    color: var(--blanc);
}

.competences{
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 32px;
}

.competence{
    display: flex;
    width: 130px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}


/* ---- Section sites web: ---- */

.sectionProjets{
    height: 90vh;
    padding: 5vh 0;
}

.sitesWeb {
    margin-top: 7vh;
    display: flex;
    flex-wrap: nowrap;
    gap: 4vw;
    transform: translateX(0);
    transition: transform 0.8s ease;
}

.projet{
    width: 27vw;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
}

.numero{
    color: var(--vert);
    font-size: 56px;
    font-weight: 400;
    text-transform: uppercase;
}

.titreSite{
    font-size: 32px;
    font-weight: 700;
}

.description{
    align-self: stretch;
    font-size: 24px;
    font-weight: 300;
}

.projet a{
    color: var(--noir);
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    text-decoration-line: underline;
    text-decoration-style: solid;
}

.fleches{
    display: inline-flex;
    align-items: center;
    width: 100%;
    justify-content: end;
    gap: 3vw;
    margin-top: 3vh;
}

.fleches img{
    cursor: pointer;
}


/* ---- Section infographies ---- */

#infographies{
    position: relative;
    width: 100%;
    height: 70vh;
}

.colloque{
    display: inline-flex;
    align-items: flex-start;
    gap: 32px;
    margin-top: 5vh;
}

.beeGuard{
    display: inline-flex;
    align-items: flex-end;
    gap: 32px;
    margin-top: 5vh;
    position: absolute;
    bottom: 0;
    right: 0;
}

.imgInfographie{
    height: 50vh;
    width: fit-content;
    object-fit: cover;
    cursor: pointer;
}

.infoTexte{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.infoTitre{
    font-size: 40px;
    font-weight: 700;
}

.infoTexte p{
    font-size: 20px;
    font-weight: 300;
    width: 28vw;
}

.texteVert{
    color: var(--vert);
    font-weight: 700;
}


/* ---- Section vidéos ---- */

#videos{
    display: flex;
    width: 100%;
    align-items: flex-start;
    gap: 2vw;
    margin-top: 3vh;
}


/* ---- Section remerciement ---- */

.remerciement{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texteMerci{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    margin: auto;
}

.merci{
    font-size: 100px;
    font-weight: 700;
}

.texteMerci p{
    font-size: 32px;
    font-weight: 400;
}

.décorationMerci{
    position: absolute;
    top: 5vh;
    right: 0;
}

.contacts{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2vh;
    position: absolute;
    bottom: 5vh;
    left: 0;
}

.contact{
    display: inline-flex;
    align-items: center;
    gap: 18px;
}